<div>
  <div id="wrapper">
    <!--BEGIN PAGE WRAPPER-->
    <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
      <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
          <div class="page-title">Dashboard <span>
            <button class="btn btn-info btn-sm btn-add-filter" data-hover="tooltip" title="Filter" ng-click="showFilter()">
              <i class="fa fa-filter"></i> Filter
            </button>
            </span>
            <span class="facility-view"><input type="text" class="form-control input-sm" palceholder="Facility / Hierarchy" value="AAA Demo Facility"></span>
          </div>

        </div>
        <div class="pull-right">
          <img src="../../app/images/logo-transights-financial1.png" alt="Logo" height="40">
        </div>
        <div class="clearfix"></div>
      </div>
      <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
      <div class="page-content">
        <div class="row">
          <div id="add-filter" class="col-md-3 clearfix" style="display:;" ng-if="IsShowFilter">
            <div class="panel panel-orange" data-step="2" data-intro="This is a tooltip!">
              <div class="panel-heading filter-header">Add Filter</div>
              <div class="panel-body">
                <form>
                  <div class="clearfix">
                    <div class="form-group">
                      <label>As Of Date:</label>
                      <!-- <div class="input-icon right datetime-picker"><i class="fa fa-calendar"></i>
                        <input type="text" class="form-control">
                      </div> -->
                      <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
                    </div>
                    <div class="form-group">
                      <label>Facility:</label>
                      <select class="form-control input-sm form-combobox">
                        <option ng-repeat="item in facility">{{item}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Unit:</label>
                      <div class="multiselect-wrapper">
                        <select multiple="multiple" class="form-control input-sm form-multiselect">
                          <option value={{$index}} ng-repeat="item in units">{{item}}</option>
                        </select>
<!--                         <select class="form-control input-sm form-multiselect">
                          <option ng-repeat="item in facility">
                            <input type="checkbox" name="" />
                              {{item}}
                          </option>
                        </select>
                        <ol class="nya-bs-select"  multiple ng-model="myModel">
                          <li nya-bs-option="option in facility">
                              <a href="#" class="small">
                                <label class="checkbox">
                                  <input type="checkbox" name="">{{option}}
                                </label>                                
                              </a>
                          </li>
                      </ol> -->
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Payer:</label>
                      <div class="multiselect-wrapper">
                        <select multiple="multiple" class="form-control input-sm form-multiselect">
                          <option value={{$index}} ng-repeat="item in players">{{item}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-info" type="button">Apply Filter</button>
                      <button class="btn btn-orange btn-close" type="reset">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-9" id="dashboard-data">
            <div class="row">
              <ul id="draggablePanelList" class="list-unstyled">
                <li class="col-md-6 dragitem" data-step="4" data-intro="This is a tooltip!">
                  <div class="panel">
                    <div class="panel-heading">Real Time Average ADL Scrore Distribution</div>
                    <div class="panel-body">
                      <!-- <div id="columnchart" class="chart-container" style="width:100%; height:260px; margin:0 auto"></div> -->
                      <highchart id="chart1" config="chartConfig"></highchart>
                    </div>
                  </div>
                </li>
                <li class="col-md-6 dragitem" data-step="5" data-intro="This is a tooltip!">
                  <div class="panel">
                    <div class="panel-heading">Real Time RUGs IV ADL Distribution</div>
                    <div class="panel-body">
                      <div id="piechart" class="chart-container" style="width:100%; height:260px; margin:0 auto"></div>
                    </div>
                  </div>
                </li>
                <li class="col-md-6 dragitem" data-step="6" data-intro="This is a tooltip!">
                  <div class="panel">
                    <div class="panel-heading">Real Time ADL Scrore vs Last MDS Score</div>
                    <div class="panel-body">
                      <div class="table-responsive" style="height:260px;">
                        <table class="table table-hover table-bordered">
                          <thead>
                          <tr>
                            <th width="3%" class="hidden"></th>
                            <th width="55%" class="header headerSortUp">RUGs IV ADL vs MDS</th>
                            <th class="header">Record Count</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="hidden"></td>
                            <td>ADl Greater than MDS</td>
                            <td>289</td>
                          </tr>
                          <tr>
                            <td class="hidden"></td>
                            <td>ADl Less than MDS</td>
                            <td>179</td>
                          </tr>
                          <tr>
                            <td class="hidden"></td>
                            <td>ADl Same as MDS</td>
                            <td>56</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="col-md-6 dragitem" data-step="7" data-intro="This is a tooltip!">
                  <div class="panel">
                    <div class="panel-heading">RUGs IV ADL Distribution</div>
                    <div class="panel-body">
                      <div id="columnchart2" class="chart-container" style="width:100%; height:260px; margin:0 auto"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--END CONTENT-->
      <!--BEGIN FOOTER-->
      <div id="footer">
        <div class="copyright">
          <div class="clearfix">
            <div class="pull-left"><img src="../../app/images/logo-rtms.jpg" alt="Product" height="54"></div>
            <div class="f-content"> <a href="javascript:;">Home</a> &bull; <a href="javascript:;">Contact</a><br>
              Pennsylvania &bull; 724.766.1262 &bull; <a href="javascript:;">contactus@rtmsmail.com</a><br>
              &copy;2014 Real Time Medical Systems LLC </div>
          </div>
        </div>
      </div>
      <!--END FOOTER--></div>
    <!--END PAGE WRAPPER--></div>
</div>
<div class="unopen" id="help-feedback" ng-click="showFeedback()">
  <h3>
    <span><i class="fa fa-envelope"></i> Help &amp; Feedback</span> 
    <a class="pull-right" href="" ng-if="feedbackStep > 0"><i class="fa fa-minus"></i></a>
  </h3>
  <div class="feedback-wrapper">
    <ul ng-if="feedbackStep === 1">
      <li><a href=""><strong>Get Help</strong><br>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
        </li>
      <li><a href=""><strong>Give Us Feedback</strong><br>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
      </li>
    </ul>
    <div class="feedback-form" ng-if="feedbackStep > 1">
      <div class="welcome-msg" ng-if="feedbackStep === 3">
        <h4>Thanks for your message!</h4>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="10"></textarea>
      </div>
      <div class="">
        <button type="button" class="btn btn-sm btn-info">Send</button>
      </div>
    </div>
  </div>
</div>